[2016-09-27 02:48] zmwangx opened #3 "brew test-bot not longer support --help"
Magic comments have no effect for commands in a tap, so

    brew test-bot --help

now runs actual bot actions right away.

[2016-09-27 07:38] MikeMcQuaid commented on #3
I think this is the bit we should fix. Thanks for creating the issue.

[2016-10-02 07:59] #3 closed

[2016-12-05 17:25] equal-l2 opened #43 "Won't work on Linux due to removal of Library/Homebrew/vendor/portable-ruby/"
Reffer:https://travis-ci.org/Homebrew/homebrew-science/builds/180950856

CI tests on [Homebrew/homebrew-science](https://github.com/Homebrew/homebrew-science) fails constantly due to the following error in executing `brew test-bot`, on line 770 and 771:

[code]

I think this is caused by the following process, from line 761 to 764:

[code]
Why `brew` deletes portable-ruby by itself?

[2016-12-05 17:29] MikeMcQuaid commented on #43
This does work on Linux: this repository uses Homebrew/brew's Linux support and it works there.. This should be fixed in Linuxbrew and/or the Travis CI configuration.

[2016-12-05 17:29] #43 closed

[2016-12-05 17:32] equal-l2 commented on #43
Oh sorry, I didn't notice it.

[2017-05-03 15:10] ilovezfs opened #75 "Homebrew Testing job can only handle one formula at a time"
978d5ba

https://jenkins.brew.sh/job/Homebrew%20Testing/5/

[code]

BOT_PARAMS:
`mariadb@10.0 percona-server@5.6 percona-server@5.5 percona-server`

Only the `percona-server` bottle is preserved and passed along to the downstream job:
https://jenkins.brew.sh/job/Homebrew%20Bottles/977/console

[2017-05-05 17:41] #75 closed

[2017-07-29 21:39] fxcoudert opened #113 "Check for requirements only of non-optional deps"
See https://github.com/Homebrew/homebrew-core/pull/16205 : testbot skips build of `ffmpeg` on Yosemite because one of the optional deps requires El Capitan or later.

[2017-07-29 21:39] ilovezfs commented on #113
It's not a test-bot issue.

[2017-07-29 21:46] #113 closed

[2017-08-14 19:18] scpeters opened #115 "Dependency with xcode build requirement causes formula to be skipped"
The `qt` formula has a [:build requirement on :xcode](https://github.com/Homebrew/homebrew-core/blob/master/Formula/qt.rb#L29), but recently (possibly since #14), I am unable to build a bottle for a formula that depends on `qt` ( https://github.com/osrf/homebrew-simulation/pull/261 ) on a build machine that only has the command-line tools installed. The [build fails](https://build.osrfoundation.or

[2017-08-14 19:22] scpeters commented on #115
Maybe some logic from https://github.com/Homebrew/brew/pull/2815 could be added to the test-bot?

[2017-08-14 19:22] MikeMcQuaid commented on #115
@scpeters Can you fill out the issue template, please?

[2017-08-14 19:26] scpeters commented on #115
I didn't see a template when I clicked on new issue.

[2017-08-14 19:27] scpeters commented on #115
I could file in a different repo that has issue templates if you prefer.

[2017-08-14 19:41] MikeMcQuaid commented on #115
Apologies, I misread this @scpeters. https://github.com/Homebrew/homebrew-test-bot/blob/80333911e7130b9542a6fe2b94c1311b52cef319/cmd/brew-test-bot.rb#L554-L578 is the relevant code; I agree that this code could be adjusted to handle built-time requirements for bottles.

[2017-08-14 20:27] scpeters commented on #115
No problem; I'll take a look at that code and work on a PR.

[2017-11-25 08:07] scpeters opened #131 "Bottle build fails with env filtering if GIT_COMMITTER_IDENT can't be found"
The first bottle builds that we have tried since environment filtering was enabled in #129 have been [failing on all our build machines](https://build.osrfoundation.org/view/os_homebrew/job/generic-release-homebrew_bottle_builder-sierra/98/) with the following error:

[code]

I traced this error to the invocation of [git am in brew pull](https://github.com/Homebrew/brew/blob/master/Library/Homebre

[2017-11-25 08:29] ilovezfs commented on #131
https://github.com/Homebrew/homebrew-test-bot/commit/7dbae6cc7b1c6d071c993b8cef6b7058961ee187

did you try passing --git-name and --git-email ?

[2017-11-25 14:42] scpeters commented on #131
Yeah, I tried that:

* https://bitbucket.org/osrf/release-tools/commits/10ed6556de576dd0f5d4df07cf7329722a31fcdb
* https://build.osrfoundation.org/view/os_homebrew/job/generic-release-homebrew_bottle_builder-sierra/105/console

but the key variable git is looking for is `GIT_COMMITTER_EMAIL`, which is no longer set by that the `--git-email` param after that commit, and it gets filtered out anyway

[2017-11-26 05:02] scpeters commented on #131
Potential fix in https://github.com/scpeters/brew/commit/ba175a54a947eb95d812d5385040f50caf36bc4b

Pull request forthcoming

[2017-11-27 00:14] scpeters commented on #115
I thought https://github.com/Homebrew/brew/pull/3479 would fix this, but it didn't. I still need to make another attempt at #116.

[2017-11-27 17:40] scpeters commented on #131
fixed by https://github.com/Homebrew/brew/pull/3489

thanks @MikeMcQuaid !

[2017-11-27 17:40] #131 closed

[2018-01-27 10:35] MikeMcQuaid commented on #115
@scpeters Can you still reproduce this?

[2018-01-28 09:51] scpeters commented on #115
Yeah, I'm still using my branch from #116 when necessary, most recently for https://github.com/osrf/homebrew-simulation/pull/371. I've tried a couple times to follow @ilovezfs's recommendation in https://github.com/Homebrew/homebrew-test-bot/pull/116#issuecomment-324595473 but I don't understand the code well enough.

[2018-01-28 10:08] scpeters commented on #115
It's confusing to me because in my testing, I see the missing requirement complaint arise from the `recursive_requirements` function in `software_spec`, but @ilovezfs recommended modifying `recursive_dependencies`.

[2018-01-28 10:10] ilovezfs commented on #115
You might need to modify both. Requirements of dependencies are requirements.

[2018-01-28 10:15] ilovezfs commented on #115
@scpeters https://github.com/Homebrew/brew/blob/master/Library/Homebrew/requirement.rb#L194

[2018-01-28 11:21] ilovezfs commented on #115
@scpeters  I don't see a good way to do this without passing a block into recursive_requirements to filter out the build-time requirements of the bottled dependencies just as formula_installer does. If you still think https://github.com/Homebrew/homebrew-test-bot/pull/116 works as expected, we should try that, if you want to reopen it.

[2018-01-28 21:44] scpeters commented on #115
@ilovezfs thanks for taking another look at this!

[2018-01-29 17:35] #115 closed

[2018-05-23 19:28] scpeters opened #157 "Failure during test-bot's brew pull: `exec': no implicit conversion of MatchData into String (TypeError)"
I have some bottle builds that are failing with an error that I can't figure out (I've removed `/usr/local/Homebrew/Library/Taps/homebrew/homebrew-test-bot/` from the console log to improve readability):

[code]

* [high sierra failure](https://build.osrfoundation.org/job/generic-release-homebrew_bottle_builder-highsierra/164/console)
* [el capitan failure](https://build.osrfoundation.org/job/gene

[2018-05-23 22:57] scpeters commented on #157
Reverting #156 fixes this for me

[2018-05-23 23:27] scpeters commented on #157
Fix is in #158

[2018-05-24 14:08] #157 closed

[2018-08-17 19:28] fredemmott opened #172 "Provide documentation on how to use `test-bot` command when the full lifecycle is not wanted - or needs customizing"
For example, when uploading bottles is not desired, or when I want to upload to a repository that is *not* bintray (e.g. to AWS S3).

I see that I can specify `root-url` for how to set it in the recipe, but I don't see:
 - documentation on using the command (rather than the test-bot system as a whole), other than `--help` - which does not provide high-level docs, just descriptions of each arg
 - o

[2018-08-17 21:08] MikeMcQuaid commented on #172
This is all the documentation that's provided beyond https://docs.brew.sh/Brew-Test-Bot and https://docs.brew.sh/Brew-Test-Bot-For-Core-Contributors. We'll accept PRs to add any more and I'll answer questions on those PRs to fill in specific questions you have.

Instead of running `brew test-bot --ci-upload` use the output bottles and JSON files to upload to the location of your choice.

The outpu

[2018-08-17 21:08] #172 closed

[2018-08-17 21:12] fredemmott commented on #172
Just checking: is this considered a stable public API?

[2018-08-17 21:14] MikeMcQuaid commented on #172
It's simple enough that I don't see it needing to change so: yes, I guess so. It can be considered to follow the versioning of the rest of Homebrew so if there's deprecations they will be announced in the minor version release notes.

[2018-08-17 21:57] fredemmott opened #173 "`--local` is documented twice with different meanings"
[code]

[code]

[2018-08-18 08:33] #173 closed

[2018-08-22 07:02] scpeters commented on #172
I just ran into this issue since the 1.7.2 tag was made. I made some code that extracts the "filename that it should be uploaded/stored as" from the json and infer the "locally-produced bottle filename" from the name of the json file and changing the extension from `json` to `tar.gz`, since the "locally-produced bottle filename" isn't stored in the json.

* https://bitbucket.org/osrf/release-tools

[2018-08-22 07:33] MikeMcQuaid commented on #172
@scpeters I think it would be good to make `brew bottle --json` generate that information, what do you think? Would you be interested in submitting a PR to add it?

[2018-08-22 08:37] scpeters commented on #172
@MikeMcQuaid let me know what you think of https://github.com/Homebrew/brew/pull/4736

[2018-09-12 14:55] tommyang opened #182 "Travis macOS job failure when triggered by a commit to an non-master branch"
I encountered this while trying to set up Travis CI for a tap. [Travis job log](https://travis-ci.com/tommyang/homebrew-gerbera/jobs/145252683)

I have only seen this failure happen if the Travis CI build is triggered by a commit to an non-master branch, not by PRs. Did not test if the same will happen if commits directly to master.

Looks like it is not isolated. Similar failures occur in [denji/

[2018-09-12 14:59] MikeMcQuaid commented on #182
@tommyang Could you try to submit a pull request? We're unlikely to work on fixing this ourselves as we're currently investigating non-Travis CI solutions and Travis is working fine for us.

[2018-09-12 15:48] tommyang commented on #182
I would love to submit a PR. However, I was not (and still isn't) sure about the root cause.

I just did a "bisect" using the log of dunn/homebrew-emacs and found that one such commit [builds successfully](https://travis-ci.org/dunn/homebrew-emacs/jobs/375171698) on May 4th while another such commit [fails this way](https://travis-ci.org/dunn/homebrew-emacs/jobs/376020490) on May 7th.

During this

[2018-09-12 18:13] dunn commented on #182
I see that error intermittently, but I've never tracked down the cause of it.

[2018-09-13 07:55] MikeMcQuaid commented on #182
Ok, this doesn't seem actionable as-is but we'll consider a PR. Thanks!

[2018-09-13 07:55] #182 closed

[2018-10-02 06:35] twlz0ne opened #197 "Test-bot failed with "stable version should not decrease""
I have a [fomula](https://github.com/twlz0ne/homebrew-ccls/blob/master/Formula/ccls.rb) like this:

[code]

And then build each version with independent image:

[code]

So far, everything is going well, all build jobs passed:

![build__39_-_twlz0ne_homebrew-ccls_-_travis_ci](https://user-images.githubusercontent.com/2653486/46332726-35607f80-c650-11e8-9284-4521b2e0f2b1.png)

But after increasing t

[2018-10-02 14:37] MikeMcQuaid commented on #197
We don't support different versions per-OS in `test-bot`. We'll review a PR to fix this either here or in Homebrew/brew.

[2018-10-02 14:37] #197 closed

[2019-01-30 09:35] fxcoudert opened #231 "Failure to test some PRs with dependencies"
Take this PR: https://github.com/Homebrew/homebrew-core/pull/36334
On all three CI nodes, the testbot is failing because it is doing the following:

- Installing `libraw` deps
- Building, testing, bottling, uninstalling, reinstalling the bottle, re-testing `libraw`
- Then uninstalling `libraw` (which I think is wrong)
- Then fetching the `efl` dependencies, which include `libraw`. This fails, beca

[2019-02-07 14:08] MikeMcQuaid commented on #231
Confirmed fixed by https://github.com/Homebrew/homebrew-test-bot/issues/231.

[2019-02-07 14:08] #231 closed

[2019-03-14 21:42] scpeters opened #243 "Add timeout for `brew test` invocations"
There was a homebrew-core PR that had been running for 13 hours in the `brew test` stage, possibly because it left behind a second process:

* https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/39299/

I'm not sure exactly why it happened, but it would be nice to have a timeout for `brew test` to keep a single package from locking up the buildfarm until a maintainer intervenes.

[2019-03-15 08:27] MikeMcQuaid commented on #243
`brew test` itself does have a timeout but sometimes jobs can't be killed. I'm not sure how `brew test-bot` could do this any better 😕.

Personally I think the better solution is doing this at the Jenkins level; I don't see why the build timeout there is set to 24h instead of e.g. a couple of hours

[2019-03-15 08:50] scpeters commented on #243
could `@brewtestbot test this please` be given a longer timeout? I'd be fine if the default was quite short but there was an easy way to trigger a build with a longer timeout, since boost for example takes around 12 hours

[2019-03-15 09:09] MikeMcQuaid commented on #243
@scpeters Annoyingly there's no way to customise that.

[2019-03-15 21:33] scpeters commented on #243
`brew test` timeout is here:

* https://github.com/Homebrew/brew/blob/db42dd0420/Library/Homebrew/test.rb#L27-L29

[2019-04-24 13:32] ladislas opened #251 "Question - How does Jenkins know which formula to bottle?"
Hi there!

Following on my quest to automatize the process of building and publishing bottles for taps, I've spent quite some time studying Jenkins' console outputs and the `brew-test-bot.rb` source code.

One thing I can't get my head around is this:

If we take for example https://github.com/Homebrew/homebrew-core/pull/39211, the corresponding logs are:

- general log: https://jenkins.brew.sh/jo

[2019-04-24 17:33] sjackman commented on #251
Here's the magic line:
https://github.com/Homebrew/homebrew-test-bot/blob/fa91172273887efb8aa799a3401cced7690cbf0f/cmd/brew-test-bot.rb#L556-L557

[2019-04-24 20:23] ladislas commented on #251
Thanks @sjackman! That was my guess :)

So doest that mean I have to pass `--tap=username/repo` when calling `brew test-bot` to bottle tap's formulae in Azure?

[2019-04-24 20:26] MikeMcQuaid commented on #251
@ladislas You shouldn't need to, no. I'm glad you're working on this as we plan to (eventually) use Azure Pipelines to bottle some/all Homebrew/homebrew-core formulae.

[2019-04-24 20:27] MikeMcQuaid commented on #251
@ladislas Closing this as the question is answered. In general can you use Discourse for questions? Feel free to mention me by username there and I'll reply quicker. Thanks again!

[2019-04-24 20:27] #251 closed

[2019-04-24 20:42] ladislas commented on #251
Sure! Will do!

[2019-06-14 12:21] scpeters opened #266 "Bottles can't be found when building multiple bottles with common indirect dependents"
In https://github.com/Homebrew/homebrew-core/pull/39225, both `python` and `python@2` are updated to use a new version of `setuptools`. `python` gets built first and all its dependencies are tested without any failures. Then it is uninstalled, the `python@2` bottle is built (successfully), and the dependencies of `python@2` are tested. The first formula to fail is `alot`, which depends directly on

[2019-06-14 12:50] MikeMcQuaid commented on #266
Thanks for the write-up @scpeters. The problem here is likely that `python` is being installed when it shouldn't be.

[2019-06-15 18:46] MikeMcQuaid commented on #266
@scpeters Can you figure out which `brew test-bot` uninstall line is removing it incorrectly? I had a glance through them all and there were none I could see that seemed to be the culprit.

[2019-06-17 04:25] scpeters commented on #266
At the end of `def formula(formula_name)` (which builds a bottle for the named formula and tests all its dependents), the following lines uninstall the recently bottled formula `unless @all_formulae_dependencies.include?(formula_name)`:

https://github.com/Homebrew/homebrew-test-bot/blob/master/cmd/brew-test-bot.rb#L1015-L1017

The `@all_formulae_dependencies` variable is populated in `def formula

[2019-06-17 07:45] MikeMcQuaid commented on #266
Thanks again @scpeters! Should be fixed by https://github.com/Homebrew/homebrew-test-bot/pull/267, let me know what you think and (ideally) test it out.

[2019-06-19 12:43] #266 closed

[2019-08-18 16:20] iMichka opened #273 "brew test-bot does not make azure pipelines fail for reverse dependencies"
This build is green: https://github.com/Homebrew/linuxbrew-core/pull/14737
But we had a bunch of failures in the logs: https://dev.azure.com/Homebrew/56a87eb4-3180-495a-9117-5ed6c79da737/_apis/build/builds/17317/logs/16

It looks like circle.ci and jenkins where looking for the "FAILED" string in uppercase (to be confirmed?). Azure does not do that.

@sjackman @MikeMcQuaid maybe you have a quick i

[2019-08-18 18:13] MikeMcQuaid commented on #273
You need to do `set -e` in multiline Bash steps (i.e. those with `- bash: |`) or it won't respect the exit code.

[2019-08-18 18:13] #273 closed

[2019-08-18 18:36] iMichka commented on #273
Thanks !

[2019-09-25 12:47] dawidd6 opened #281 "Option to exit successfully if no bottles are found for upload"
I think it would be nice to have an option like `--exit-if-no-bottles`. When passed, `test-bot` would just call `exit` for example if no bottles were found for uploading.

Relevant line of code: https://github.com/Homebrew/homebrew-test-bot/blob/bb48704eb882c0c7867d6ec275ab22bca2c60db9/cmd/brew-test-bot.rb#L1406

Possible patch:
[code]

[2019-09-25 13:13] MikeMcQuaid commented on #281
What would be the purpose of running the upload step if there's no bottles there to upload?

[2019-09-25 13:49] dawidd6 commented on #281
IIRC `test-bot` will just exit if no formulas were changed between commits.
If one for example has a script that first executes `test-bot` and then `test-bot --ci-upload`, it will fail when attempting to upload, because no bottles were built, beacuse no changes to any formula were detected.

Might be an edge case, but I'm currently workarounding this in my CI jobs by performing the same check like

[2019-09-25 14:00] dawidd6 commented on #281
Okay that was a bad idea. Didn't think about this through enough.

[2019-09-25 14:00] #281 closed

[2019-09-25 14:14] MikeMcQuaid commented on #281
Not a bad idea, a good question!

[2019-09-26 01:01] dawidd6 opened #282 "Github Actions and ARGV"
I'm trying to get `test-bot` up and running for my own tap and it seems to work when `GITHUB_ACTIONS` environment variable is not set. When it is set, `test-bot` is automatically appending some options and it looks like they break the formula detection.

Logs from workflow run when `GITHUB_ACTIONS` is **not** set:
[code]
One can see that `test-bot` successfully detected modified formula.

---

Log

[2019-09-26 07:49] MikeMcQuaid commented on #282
Are you passing that or do mean that it's being pulled automatically?

https://github.com/Homebrew/homebrew-test-bot/blob/master/.github/workflows/tests.yml might be a good reference; that's correctly detecting the changes and testing them I believe (although there could be bugs there).

[2019-09-26 08:31] dawidd6 commented on #282
I'm passing only `--root-url` at this point and the rest of ARGVs are appended automatically.

Hmm, as I see, this workflow runs `test-bot` on macos without options, but since it is a `homebrew/homebrew-test-bot` repo, the modified_formulae is statically set to `testbottest`. So, this isn't really helpful.

I would propose appending `--no-pull` and `--test-default-formula` options only when repo i

[2019-09-26 08:36] MikeMcQuaid commented on #282
You can see it being used on Homebrew/brew, too. `--test-default-formula` should be passed when it's test-bot or Homebrew/brew because we want to make sure we're testing something.

`--no-pull` should remain and will eventually become the default because it avoids duplication when the Git checkout is at the correct/expected revision. This isn't the case with our Jenkins setup but is with GitHub Ac

[2019-09-26 11:51] dawidd6 commented on #282
I did some digging and found out that this patch does wonders:
[code]

The case here is that `origin/master` should become `diff_start_sha1` and `HEAD` should be `diff_end_sha1`. But without this patch it is not happening.
As a matter of fact, I'm still using `brew pull --clean .patch` before running `test-bot` but I tested bare `git` commands like `fetch` and `checkout` and it works that way too.

[2019-09-26 12:36] MikeMcQuaid commented on #282
Not that patch exactly but something like it: yes. Open a PR and we can debate the code there? Thanks again @dawidd6!

[2019-09-26 15:43] #282 closed

[2019-11-27 17:10] EricFromCanada opened #301 "Symlinks left over after cleanup"
When anything using the `squashfuse` formula is tested, two of its symlinks (libfuseprivate.0.dylib and libfuseprivate.dylib) are left in /usr/local/lib, although libfuseprivate.a does get removed.

[code]

Past occurrences:
- https://github.com/Homebrew/homebrew-core/pull/46522
- https://github.com/Homebrew/homebrew-core/pull/46710
- https://github.com/Homebrew/homebrew-core/pull/46382
- https://

[2019-11-27 17:18] EricFromCanada commented on #301
Some key output when doing a verbose run:
[code]

[2019-12-02 14:03] dawidd6 opened #302 "Can't have other branch than master while uploading"
Using Github Actions, if one runs `brew test-bot --ci-upload`, the tap is automatically resetted to `master`. Which is undesirable in situations when one checkouts the repo (tap) manually to, let's say, another branch, before uploading the bottles. This is of course not a problem for taps, that rely on `test-bot` for pushing tags, but it is broken for the ones that push branches for example.

Inte

[2019-12-02 14:40] MikeMcQuaid commented on #302
Can you elaborate why you'd want/need to do this?

[2019-12-02 16:52] dawidd6 commented on #302
The core reason is that if one of those env variables are not set:
[code]

the required `brew pull` step will not execute and if one for example already has the tap checked out to PR head branch, it will still be resetted to `master`:
[code]

of course, one those env variables could be set, but then the `git tag` and `git push` steps will be executed and I don't want that.

Now that I'm thinking a

[2019-12-03 11:38] MikeMcQuaid commented on #302
@dawidd6 How about moving all that logic into `if pr`?

[2019-12-03 20:35] dawidd6 commented on #302
Yes, that might actually help. Will do the PR.

[2019-12-04 08:32] #302 closed

[2019-12-04 12:39] dawidd6 commented on #302
Thanks for merging the PR! It works now.

[2019-12-20 10:52] Bo98 opened #304 "git prune etc. should be performed under --ci-upload"
homebrew-test-bot has code to perform prune, gc, clean etc. on the Git repository, called from here:

https://github.com/Homebrew/homebrew-test-bot/blob/af6fcf3ef7118acd72e2eb94a9b49b45e8433d67/lib/test.rb#L836-L838

This code however does not run when `--ci-upload` is used.

It perhaps should be since the Homebrew Bottle job is asking for it:

[code]

[2019-12-20 15:11] MikeMcQuaid commented on #304
The "fetching" here is from the Jenkins configuration so have added `find . -name .git/gc.log -delete` in there which should ensure the automated prune will be run. Thanks for the issue 👍

[2019-12-20 15:11] #304 closed

[2019-12-20 15:17] Bo98 commented on #304
Sorry - I perhaps confusingly raised this at the same time as the issues today. This is specifically about the Homebrew Bottle job and not Pull Requests, so the fetching is done by `brew update-reset`:

[code]

Indeed that line is good to add anyway, since that will benefit Pull Requests which use the Git plugin alone and thus fix the bigger issues today. Though it won't help Homebrew Bottles whic

[2019-12-20 15:19] MikeMcQuaid commented on #304
I've nuked the directory entirely so it will be recloned.

[2019-12-30 13:18] #301 closed

[2020-02-26 22:19] Bo98 opened #330 "Test bot fails when brew git is tested"
We've been merging failing `git` builds for far too long - ideally we wouldn't be merging anything that's red. [Here is an example failure from git](https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/57713/version=mojave/console) - please ignore the `brew test` failure here as that is something specific to that version bump. I'm talking about this at the end:

[code]

homebrew-test-bot

[2020-02-27 08:14] SMillerDev commented on #330
I've been been thinking about this too but I don't know anything about the internals of testbot. Would it be possible to always use system git in case of a brewed git test?

[2020-02-27 10:16] MikeMcQuaid commented on #330
I reckon this is the best approach for us 👍

That would be great, thanks!

[2020-02-27 10:25] Bo98 commented on #330
Thinking about it again, a quick fix could be to just do `HOMEBREW_GIT_PATH=/usr/bin/git` as a part of the Jenkins config. Ideally we'd do it before the test-bot code is invoked - to deal with the case that cleanup wasn't performed - since we run `brew update-reset` etc. first, but if you think it's better as a part of the codebase somewhere I can do that.

[2020-02-27 10:26] MikeMcQuaid commented on #330
Yeh, I think so 👍

[2020-02-27 10:28] Bo98 commented on #330
Ok, will do.

Not sure if the case of `mojave_orka_1` has happened before so is probably not very common scenario anyway.

[2020-02-27 10:31] MikeMcQuaid commented on #330
Yeh and even then it should be repaired by this fix I believe.

[2020-02-27 10:38] Bo98 commented on #330
Well, what caused `mojave_orka_1` to collapse was a previous build was cancelled between `pcre2` uninstall and cleanup. This meant that a broken brew git was still installed, and git is invoked right from the start for future builds - before `brew test-bot` is even reached - notably when running `brew update-reset` and actually also Jenkin's own git cloning (which is configurable). So while changi

[2020-02-27 10:41] MikeMcQuaid commented on #330
It would have resulted in a broken build but the `brew test-bot` cleanup stuff would be able to successfully run `git` and clean up the broken packages at that point. Arguably `brew test-bot --cleanup` or something could be run before we attempt to run `brew update-reset` or `brew update` but given Jenkins isn't long for this world I'm not sure it's worth it.

[2020-02-27 19:28] #330 closed

[2020-08-06 06:12] PurpleBooth opened #463 "Audit failures in unrelated formulas"
Hi

I am running

[code]

on github actions and I'm getting audit failures from formulas that aren't "purplebooth/repo/fix-compaudit", that are installed on the base image I am using (the default macos one). I can possibly eventually work something out where I either patch these formulas or delete them or something, but it feels like they shouldn't be being audited at all, since I provide the form

[2020-08-06 07:51] MikeMcQuaid commented on #463
This is intentional (although regrettable). If you run `brew update-reset` in your CI before you'll ensure that all the relevant taps are updated and shouldn't see this error. We're working to improve this with a better GitHub Actions workflow: https://github.com/Homebrew/actions/tree/master/setup-homebrew

[2020-08-06 07:51] #463 closed

[2020-08-06 08:44] MikeMcQuaid commented on #463
I've opened https://github.com/Homebrew/homebrew-test-bot/pull/464 to improve this.

[2020-08-06 12:54] PurpleBooth commented on #463
Would it be better for me to try out the setup homebrew action or run `brew update-reset`?

[2020-08-06 13:04] MikeMcQuaid commented on #463
@PurpleBooth This should actually be fixed for you now without you doing anything 😁. Longer-term I'd recommend the homebrew action but it's not even fully working for us yet so hold off for now.

[2020-08-06 17:30] PurpleBooth commented on #463
Ah awesome thank you! ✨

[2020-08-08 09:14] PurpleBooth opened #474 "Is there some documentation for indended usage"
I'm really struggling to work out why brew test-bot is resetting the changes I want to test in a formula. (Note: this works locally but not on Github's actions, which is frustrating.).

[code]

This ticket isn't about this individual problem, but rather the lack of a resource that tells me the expected workflow for the tool. I assume I can get to the bottom of this, but it'd be really nice if the

[2020-08-08 11:23] SMillerDev commented on #474
To make sure that this actually clarifies what you want from it, could you make a pull request adding documentation stating how you _think_ it works. And then the homebrew maintainers that are more knowledgeable can comment and iterate on that with you.

[2020-08-08 11:54] PurpleBooth commented on #474
Sure! I'll see if I can put something together. Is just embedded in the repo in a docs folder ok?

[2020-08-08 13:19] SMillerDev commented on #474
For now I think that's okay (though other maintainers might disagree)

[2020-08-10 08:24] MikeMcQuaid commented on #474
Closing as this isn't a issue per-se but happy to keep discussing here. As mentioned elsewhere: `brew tap-new` is the main input path for `brew test-bot` if you're unfamiliar with it. It's primarily (for now) a tool for our own CI usage that may be useful to others rather than something we actively support.

[2020-08-10 08:24] #474 closed

[2020-08-11 16:13] alexplischke opened #481 "undefined local variable or method `branch'"
Running `brew test-bot` results in the following error:
[code]

Looking at https://github.com/Homebrew/homebrew-test-bot/blob/c53fa90d850976a91945f86fe76d3018c5f504bc/lib/test_cleanup.rb#L125, I see that `branch` is not defined anywhere?

A recent change (https://github.com/Homebrew/homebrew-test-bot/commit/3c78e4492066cea3f18685b473505b9a1e265cdc#diff-f8070d5310a565d61333c6a5a1eb5024) seems to ha

[2020-08-11 17:00] #481 closed

[2020-08-28 11:43] ddelange opened #488 "error: Not a valid ref: refs/remotes/origin/master"
With a [GH Actions template](https://github.com/ddelange/homebrew-ffmpeg/blob/3272cfac1d9fac578220935cce15dcdf7ef16b42/.github/workflows/main.yml) taken/adapted from the default one coming from `brew tap-new`, several errors occur when running on ubuntu-latest.

Maybe it's a mix up (`set -e` is part of the `macos` script), where the `ubuntu` setup originated [elsewhere](https://github.com/Homebrew

[2020-08-28 11:53] MikeMcQuaid commented on #488
https://github.com/Homebrew/homebrew-bundle/blob/master/.github/workflows/tests.yml.

This should match what `tap-new` is doing so I'd recommend trying to use that instead. None of your "run test bot" precursors are necessary; they are done by `set-up-homebrew`.

[2020-08-28 11:53] #488 closed

[2020-09-11 11:22] ddelange opened #498 "test-bot does not recognize renamed tap"
Hi,

Going by @dawidd6's [homebrew-tap](https://github.com/dawidd6/homebrew-tap) workflows, I noticed that the command [does not pick](https://github.com/ddelange/brewformulae/runs/1101292745#step:3:5) up my tap, and defaults to Homebrew/core.

Here's the failing yaml:
https://github.com/ddelange/brewformulae/blob/594254e1cbd2c4a906f3308d2633e838fd7f6bcb/.github/workflows/brew-test-bot.yml

Here's

[2020-09-11 11:26] dawidd6 commented on #498
Couldn't you just rename your repo to something `homebrew-` prefixed?

[2020-09-11 11:28] ddelange commented on #498
Yes of course that would be fallback, but I actually quite liked the looks of `ddelange/brewformulae`, and having a repo called `ddelange/homebrew-brewformulae` somehow sounds unnecessary.

If it's nothing I can fix by e.g. passing certain command line args (or anything you can think of), feel free to close, as probably not many ppl have taps that don't start with `homebrew-` prefix.

[2020-09-11 12:14] ddelange opened #499 "Failure on brew test-bot perl"
When running `brew test-bot homebrew-ffmpeg/ffmpeg/ffmpeg`, recursively `perl`'s post install step [fails](https://github.com/homebrew-ffmpeg/homebrew-ffmpeg/pull/49/checks?check_run_id=1097232122#step:3:1268) (ref https://github.com/homebrew-ffmpeg/homebrew-ffmpeg/pull/49), and so tests are failing on the 3rdf party ffmpeg test-bot run on ubuntu ([yaml](https://github.com/homebrew-ffmpeg/homebrew

[2020-09-11 12:35] #499 closed

[2020-09-11 12:36] MikeMcQuaid commented on #499
Sorry, I can't understand from what you're asking what the issue you're having is.

[2020-09-11 12:40] dawidd6 commented on #499
It's an issue with perl formula in linuxbrew-core. We'll welcome any PRs fixing it.

[2020-09-11 12:43] dawidd6 commented on #498
Did you try passing `--tap` option with proper argument to `brew test-bot`?

[2020-09-11 13:39] ddelange commented on #498
Yes, `brew test-bot --tap ${{ github.repository }}` which expands to `ddelange/brewformulae` seems to be ignored

[2020-09-11 13:42] MikeMcQuaid commented on #498
Note `brew tap ddelange/brewformulae` only works because it's using the repository redirection from `ddelange/homebrew-brewformulae`.

[2020-09-11 13:42] #498 closed

[2020-09-11 13:42] MikeMcQuaid commented on #498
I'd strongly recommend renaming your tap to something with a `homebrew-` prefix.

[2020-09-16 13:36] sashkab opened #502 "brew-test-bot fails with unrelated error"
I'm having issue with brew-test-bot, as it fails with the unreferenced in the pull request formulae -- aptible. I don't understand what is going and how to troubleshoot it. If you could point me in the right direction, I would appreciate. Run on the local workstation shows no errors, problem happens only when using Github actions.

Pull request in questions -- https://github.com/sashkab/homebrew-p

[2020-09-16 13:50] MikeMcQuaid commented on #502
We don't provide this level of support, sorry.

[2020-09-16 13:50] #502 closed

[2020-09-26 13:15] kaoh opened #504 "testbot fails since a while without a workflow change"
Since approx. 4 weeks the build check in GitHub does not work anymore. I see always the error:

[code]

Here is the failed build: https://github.com/kaoh/homebrew-globalplatform/runs/1168873594?check_suite_focus=true

I have not changed the GitHub workflow, so it must be an incompatible upstream change.

[code]

https://github.com/kaoh/homebrew-globalplatform/blob/master/.github/workflows/main.yml

[2020-09-29 07:37] MikeMcQuaid commented on #504
https://github.com/Homebrew/brew/blob/dc09aa6d0ca3c89dab2a4d8cb6274d6d77e063e7/Library/Homebrew/dev-cmd/tap-new.rb#L48-L85 is our supported workflow.

[2020-09-29 07:37] #504 closed

[2020-09-29 11:58] kaoh commented on #504
Sorry, this does not help me enough. Where is a working example and what has changed since the time it was working? Where are these breaking changes announced? In your referenced link I see:

[code]

Before `brew test-bot` was sufficient, now this seems to be broken. Do I have to run now all these runs to have the same result as before?

[2020-09-29 12:21] MikeMcQuaid commented on #504
I'm sorry, we do not provide support for this tooling.

The output of `brew tap-new` or, if you want to see a real-life use-case: pretty much every `homebrew-*` repository in the Homebrew organisation. As for what's changed since it last worked (for you): sorry I have no idea.

I have no idea what your workflow before was and what you plan for it to be. I cannot justify debugging your individual w

[2020-10-22 12:34] Dekker1 opened #511 "CI dependency installation failure"
I'm using the GitHub Actions workflow that is created by `brew tap-new` and I'm experiencing a strange issue when testing/building a new simple maven/java formula.

The formula in question can be viewed here: https://github.com/Dekker1/homebrew-minizinc/pull/3/files
Another Java formula that that has the same formula can be viewed here: https://github.com/Dekker1/homebrew-minizinc/pull/2/files

In

[2020-10-22 12:47] MikeMcQuaid commented on #511
Sorry, we're not able to provide support for these types of issues for this tool.

[2020-10-22 12:47] #511 closed

[2020-11-17 13:14] danielbayley opened #522 "Standard Brewfile fails brew style RuboCop checks"
So I have a [`Brewfile`](https://github.com/danielbayley/homebrew-dotfiles/blob/master/Brewfile) in my _[homebrew-dotfiles](https://github.com/danielbayley/homebrew-dotfiles)_ tap… which is the output from `brew bundle dump --force --describe`. I now also have updated my GitHub Actions CI to make use of `brew test-bot` (based on the `tests.yml` output from `brew tap-new`). However the `brew test-b

[2020-11-17 13:28] reitermarkus commented on #522
I guess we can either fix `brew bundle` to include the `frozen_string_literal` comment in `Brewfile`s or change the `.rubocop.yml` to exclude `Brewfile`.

[2020-11-17 13:33] danielbayley opened #523 "Also test Casks"
Currently `test-bot` is set up to only work on formulae, yet seems designed (as output by `tap-new`) to be for Taps in general… So surely it should also check Casks?

See also: https://github.com/Homebrew/discussions/discussions/41#discussioncomment-93844

[2020-11-17 13:34] MikeMcQuaid commented on #522
Yes, either seems acceptable to me. Closing this as I don't consider this a test-bot issue but we'd review a PR for this!

[2020-11-17 13:34] #522 closed

[2020-11-17 13:36] MikeMcQuaid commented on #523
No. This would be a major undertaking that would require a lot of work on the casks side. It's something we'd consider accepting a PR for (if it were to be used by official cask taps).

[2020-11-17 13:36] #523 closed

[2020-11-17 13:45] reitermarkus commented on #522
Yes.

[2020-11-17 13:49] danielbayley commented on #523
@MikeMcQuaid Would it be much more complicated than adding the appropriate `cask style`/`audit` checks for [any] files in `Casks/`?

That was part of the idea… Those obviously already have their own separate CI currently; would it not be simpler/preferable/more maintainable long-term to for `test-bot` to handle all CI? (with the added benefit of being available for Taps)

[2020-11-17 13:54] danielbayley commented on #522
Ok, sounds simple enough then. I'll try a [hopefully] quick PR…

@reitermarkus @MikeMcQuaid Am I right in it one of [these](https://github.com/Homebrew/brew/tree/master/Library) `.rubocop*.yml`s?

[2020-11-17 13:55] reitermarkus commented on #523
Currently Cask CI is basically a collection of GitHub Actions so I'd say it would be pretty hard to condense this into a single command. Also not really desirable if you ask me, since having multiple GitHub Actions gives much easier to read output than a single script.

[2020-11-17 13:57] reitermarkus commented on #522
Yes, the plain one, `.rubocop.yml`.

[2020-11-17 14:28] MikeMcQuaid commented on #523
I'd rather get more code out of test-bot rather than more code into it. It's a bit of a monstrosity.

[2020-11-17 15:28] danielbayley commented on #523
Understandable. @reitermarkus So could there be an official Tap template (as you [mention here](https://github.com/Homebrew/discussions/discussions/41#discussioncomment-93844)) that brings all of those together so that any `tap-new` points to the same CI workflow that will check formulae with `test-bot`, Casks, cmds, and `Brewfile`s using the other existing actions?

Always preferable!

[2020-11-17 16:53] danielbayley commented on #522
@reitermarkus @MikeMcQuaid Just passed all checks in #9169 👍

[2020-11-18 01:47] reitermarkus commented on #523
Yes, ideally, as I mentioned, `tap-new` would create a tap from a template repository and there would be an action which keeps the configuration in sync with the template repository.

[2020-12-03 03:12] ticky opened #531 "Upload issue with GitHub Releases"
Hi there, I’ve been trying to follow the steps [outlined in this recent blog post](https://brew.sh/2020/11/18/homebrew-tap-with-bottles-uploaded-to-github-releases/) to test and build bottles for some taps I maintain, and I’ve run into a snag.

I’ve managed to adapt the workflows and get those set up, and created a PR which modifies the formulae so that they’re built, but at the point of asking it

[2020-12-03 09:46] dawidd6 commented on #531
This is most likely a problem with GitHub API as I see other bottles were uploaded successfully in this workflow run you provided the link to. At this point I have no idea what can be done with that on our side.

[2020-12-03 13:23] MikeMcQuaid commented on #531
Given this and @dawidd6 being the original author, closing, sorry!

[2020-12-03 13:23] #531 closed

[2020-12-03 17:15] ticky commented on #531
I seem to be having somewhat better luck touching each Formula separately rather than attempting to do it all at once, though it incurs more overhead and honestly feels like this ought to handle this case better. Is retry behaviour not in the realm of possibility at all?

[2020-12-03 19:33] MikeMcQuaid commented on #531
We'd review PRs for either approach 👍🏻

[2020-12-03 21:12] ticky commented on #531
Digging into this further, this appears to have occurred because the asset in question was never actually there; the CI configuration (unchanged from the `brew tap-new` output) somehow created the bottle’s json file, but not the actual bottle. The presence of the json appears to make the `pr-pull` expect it to exist.

<img width="361" alt="image" src="https://user-images.githubusercontent.com/2821

[2020-12-04 08:35] MikeMcQuaid commented on #531
I'd say both!

[2020-12-25 23:50] scpeters opened #544 "Should check for unlinked dependencies of all dependents, not just named formulae"
While investigating CI failures in https://github.com/Homebrew/homebrew-core/pull/67615 (applying an upstream patch to boost), I noticed that `brew test pcl` failed for all architectures, even though it had passed very recently in https://github.com/Homebrew/homebrew-core/pull/66792. The tests in https://github.com/Homebrew/homebrew-core/pull/67615 failed to find `eigen` when running cmake to conf

[2020-12-28 09:17] MikeMcQuaid commented on #544
Makes sense to me @scpeters! Could you open a PR?

[2020-12-30 01:56] scpeters commented on #544
I'll work up the courage and give it a shot :sweat_smile:

[2021-01-19 13:14] carlocab opened #559 "Rename bottles instead of deleting them when post-build tests fail"
Currently, test-bot deletes bottles that fail the post-build tests (e.g. `brew test` or `brew linkage --test`). This is designed to avoid the shipment of broken bottles. However, it also removes one avenue of investigating these failures: manually downloading the bottle for inspection and local testing.

I propose that test-bot rename the broken bottles instead. I believe the relevant piece of cod

[2021-01-25 09:50] #559 closed

[2021-01-25 10:33] carlocab opened #562 "test-bot shouldn't skip new formulae on ARM CI"
This follows from https://github.com/Homebrew/homebrew-core/pull/69708.

Currently, test-bot does not attempt to build or test formulae using (I think) the following logic:

https://github.com/Homebrew/homebrew-test-bot/blob/86c53a3edab345504ebd2eb863ce87419ed837de/lib/tests/formulae.rb#L578-L585

This requires adding the `CI-force-arm` label so that test-bot will attempt an ARM build for new form

[2021-01-25 11:04] carlocab commented on #562
Here's one idea:

[code]

But we'd need the `HOMEBREW_NEW_FORMULA` environment variable to be set for new formulae for this to work. Presumably, this can be done in the same way `HOMEBREW_REQUIRE_BOTTLED_ARM` is set.

Thoughts, @MikeMcQuaid?

[2021-01-25 11:45] bayandin commented on #562
Can we use `new_formula = @added_formulae.include?(formula_name)` (from line 598, we'll need to move it up):

https://github.com/Homebrew/homebrew-test-bot/blob/cfed23d743398e3f667918d0a50a0f5f667c327e/lib/tests/formulae.rb#L578-L604

[2021-01-25 11:49] carlocab commented on #562
Great suggestion; I was looking for where `test-bot` figured out whether a formula was new. I'll open a PR for this.

[2021-01-26 09:57] #562 closed

[2021-03-16 11:20] georgettica opened #581 "Add action to remove `awaiting user reply`"
As a user I created a issue, and got the label `awaiting user reply` after a response

I don't have permission to remove the label nor an automated command to remove it.

### Steps taken
- `BrewTestBot` or it's github repo doesn't hold any github action / README related to an action like so
- previous issues in https://github.com/Homebrew/homebrew-cask/ do not have this label / a way to communicat

[2021-03-16 12:07] MikeMcQuaid commented on #581
This label is set/unset by maintainers manually. We don't want to automate this at this time.

[2021-03-16 12:07] #581 closed

[2021-04-07 00:30] orf opened #596 "Allow running tests in parallel"
Hello :wave:

Some core formula like sqlite (https://github.com/Homebrew/homebrew-core/pull/74485) hit a recurring issue where builds take _forever_. Here's one that's been going [for over 9 hours](https://github.com/Homebrew/homebrew-core/actions/runs/722540993). It seems like it would be trivial to parallelize the `brew test-bot` command, especially as we are using Github Actions, and reduce the

[2021-04-07 00:48] Bo98 commented on #596
Yes, there is a goal to improve this. There's some groundwork being put into place at: https://github.com/Homebrew/homebrew-test-bot/pull/582, which would at least allow partial CI restarts. Futher iterations can allow parallelising tasks to multiple runners by splitting the dependent tree into subtrees.

We are limited in resources so we probably won't be able to go that far. We currently have 4

[2021-04-07 01:06] carlocab commented on #596
We can't really run 10 parallel builds at a time, since we use self-hosted runners to build. We need the self-hosted runners since GitHub only reliably provides runners for macOS 10.15 when we also need to build for 10.14 and 11 (both ARM and Intel).

[2021-04-07 01:18] orf commented on #596
I mean we can substitute 10 for "any number greater than 1" with the same effect.

Can you elaborate on "reliably"?

[2021-04-07 01:23] carlocab commented on #596
Any splitting at all isn't quite supported in `test-bot` yet, see Bo's comment above.

GitHub provides runners for macOS 10.15 and (Intel) macOS 11, but that's [in private preview](https://github.com/actions/virtual-environments/issues/2486). We recently (ish, maybe it was a few months ago) switched all of our workflows that ran on (GitHub-provided) `macos-11` runners to `macos-latest` (i.e. 10.15

[2021-04-07 01:40] orf commented on #596
Ok I see. The 10.15 runners are still hosted by Github, but the impact of running parallel on only them is limited because we'd still be running sequential builds on the other self-hosted runners?

It seems like there's a lot to work on here, the general idea behind the ticket was to suggest auto-generating some kind of matrix using `test-bot`. If that's not going to work then we can close this 👍.

[2021-04-07 01:47] carlocab commented on #596
Yea, it's not quite that simple. Generating the matrix correctly is quite complicated (since we have to worry about the dependency graph), and even if we had that matrix, we still need to teach `test-bot` what to do with that matrix.

[2021-04-07 12:15] MikeMcQuaid commented on #596
@orf If things are trivial/simple then please open pull requests instead of issues. Relatedly, if things are trivial/simple, would produce huge speedups and they aren't already done: chances are they aren't trivial/simple. I know it's not your intention but this assumption is a little insulting.

@Bo98 I'd suggest we verify the ABI compatibility ourselves somehow. I'm not sure how it is possible b

[2021-04-07 12:15] #596 closed

[2021-04-21 19:31] iMichka opened #599 "--skip-recursive-dependents flag seems broken"
I noticed recently that using `--skip-recursive-dependents` flag on Linux CI (to reduce build time) does not work anymore.

Right now the full list of dependants is being tested. I checked locally and the `--recursive` flags is removed from the `brew uses` call. But nevertheless, the full list of dependants is being tested. So something else is going on.

[2021-05-04 12:59] MikeMcQuaid commented on #599
There's not enough here to go on I'm afraid. As you note: `--recursive` isn't being added and `f.deps` is being used instead of `f.recursive_dependencies`. If you can provide a reproducible test case we can look into this more.

[2021-05-04 12:59] #599 closed

[2021-05-17 11:05] carlocab opened #611 "Linkage tests are passing when they should fail"
`clazy` passed CI in Homebrew/homebrew-core#77005, but then failed the linkage check in [this CI run](https://github.com/Homebrew/homebrew-core/actions/runs/848283367) (Homebrew/homebrew-core#77434).

It was then given a `revision` bump to rebuild it, and I thought that shook off the linkage (as CI passed after the `revision` bump), but the new bottle still shows broken linkage:
[code]

This seems

[2021-05-17 12:50] MikeMcQuaid commented on #611
@carlocab Can you reproduce this locally? This feels like it may be a `brew linkage` bug rather than `test-bot` no?

[2021-05-17 13:03] carlocab commented on #611
`brew linkage --test clazy` fails for locally. I think the reason why it doesn't fail on CI is that `test-bot` does not uninstall `llvm@11` at any point before running `brew linkage --test`.

At least, that was my theory when I said

I should've explained that more clearly; sorry. `brew linkage --test clazy` does not fail for me when I have `llvm@11` installed.

My view was that `test-bot` should

[2021-05-17 13:19] MikeMcQuaid commented on #611
https://github.com/Homebrew/homebrew-test-bot/blob/6e16d91a51060bba094a8ec967312665e5addda5/lib/tests/formulae.rb#L472-L475 is probably the relevant code here. It's balance between correctness and timeliness. It maybe warrants being tweaked so it keeps the bottle around and reinstalls from that when needed.

[2021-07-12 04:57] ticky opened #646 "Error during `brew test-bot --only-formulae` step on tap CI"
Hi there,

I have a handful of taps I maintain, and I've been using the Homebrew-ordained CI solution created by `brew tap-new`.

In the past few days, I've had two unrelated formula on separate taps fail to build in the Linux portion of this CI run, with no clear way of fixing or debugging further, both during the `brew test-bot --only-formulae` step:

[code]

[GitHub Actions run](https://github.

[2021-07-12 06:04] dawidd6 commented on #646
@iMichka I think you saw an error like this. Did you resolve it?

[2021-07-12 09:21] iMichka commented on #646
Yes here: https://github.com/Homebrew/linuxbrew-core/pull/23778

[2021-07-12 12:39] #646 closed

[2021-07-12 12:39] MikeMcQuaid commented on #646
@ticky @iMichka I think this is now fixed. Can you attempt to reproduce?

[2021-07-12 15:20] iMichka commented on #646
Yes it fixed the issue for me. Thanks!

[2021-07-13 07:38] MikeMcQuaid commented on #646
@iMichka @ticky you're both very welcome (and lovely people)!

[2021-09-02 15:35] scpeters commented on #544
potential fix in #659

[2021-09-03 10:44] #544 closed

[2021-09-11 10:06] miguelaferreira opened #661 "CI build failing on `brew test-bot --only-formulae`"
I'm seeing an error I cannot understand when running `brew test-bot --only-formulae` for my taps repository.

This is the error message:
[code]

Here's the [workflow full log](https://github.com/miguelaferreira/homebrew-tools/runs/3574392516#step:8:29).

I could use any help figuring out what this error means and how can I fix it.

[2021-09-11 10:31] carlocab commented on #661
Your build has dependence on `zlib`, which isn't portable. Add `uses_from_macos "zlib"` to your formula's dependencies.

[2021-09-11 10:31] #661 closed

[2021-09-11 13:29] miguelaferreira commented on #661
Hi @carlocab thanks for your help.
I've added `uses_from_macos "zlib"` to the formulas (see https://github.com/miguelaferreira/homebrew-tools/pull/5/files#diff-a4e8c4ef2098009481eef7964aac8e2f0d52537a718f9649deef67409f3f28adR10), but the build still breaks with the same error.

It's the ubuntu build that still fails with this error.
[code]
[Full log](https://github.com/miguelaferreira/homebrew-too

[2021-09-11 13:49] carlocab commented on #661
Ah, your formula installs pre-built binaries, which is why adding the `zlib` dependency doesn't help. You have a few alternatives:

1. Ignore the error and drop the `uses_from_macos "zlib"` line. Your formula won't work on systems that don't provide `zlib`.
2. Build your binaries from source in the formula.
3. Keep the `uses_from_macos "zlib"` and modify the `RPATH`s in your binaries to be able to

[2021-09-12 11:53] miguelaferreira commented on #661
Thanks again @carlocab, I think I'm only going to ignore the error and remove that step from my CI workflow.

These binaries are java applications created with graalvm native image, so building them from source on install is just too heavy. I can't make them casks either because that's macOS specific, so a formula is the way I think is best to offer them. Maybe a bottle would be the best way? Unfo

[2021-09-12 12:15] carlocab commented on #661
I'm afraid you're mistaken.

When I say that your formula has dependence on `zlib`, I mean that your binary will not work on systems that do not have `zlib` installed at `/lib/x86_64-linux-gnu` even if it is successfully downloaded, unzipped, and installed.

You can see this using `objdump` or `ldd`:
[code]
[code]

Here's what happens when I try to run your binary on a system that does not have `/

[2021-11-04 23:35] bruuuuuuuce opened #688 "Calling `brew tap --full` is disabled! There is no replacement."
I have been trying to build bottles for my homebrew tap. I am using the github actions created by the `brew tap-new` command. There seems to be an issue with the default workflows that get created using `brew tap-new`.

When I run, `brew tap -h`, I see that `--full` is a valid flag to pass to that command, but when trying to use it `brew tap aws/tap --full`, I get the error
[code]

In doing some r

[2021-11-04 23:43] carlocab commented on #688
That sounds right. Can you open a pull request?

[2021-11-04 23:44] bruuuuuuuce commented on #688
yea sure

[2021-11-05 00:59] carlocab commented on #688
Closed in #689.

[2021-11-05 00:59] #688 closed

[2021-11-12 13:01] carlocab opened #701 "Upload `test-bot` results from Homebrew/core to BuildPulse"
We need a better sense of which Homebrew/core tests are flaky, and the best way to do that is to use BuildPulse, which we already do in Homebrew/brew.

We already have some [code](https://github.com/Homebrew/homebrew-test-bot/blob/6892000c8a59042e21d13a3d233998f5570049c0/lib/junit.rb#L10) in place that enables this. All that remains to be done is to upload this to BuildPulse. See discussion at #69

[2021-11-12 13:55] MikeMcQuaid commented on #701
Thanks for writing this up @carlocab!

[2021-11-12 16:08] carlocab commented on #701
I might be understating the work left to be done a little here. There is a `brew-test-bot.xml` file in each `bottles` artifact, but it appears to occasionally be empty (e.g. #89272). When it's not, it will only contain a copy from only one of the runners when there should be six (one for each build we attempt).

[2021-11-15 01:27] scpeters opened #705 "Behavior change in building bottles against bottles from previous macOS versions"
I maintain the [osrf/simulation](https://github.com/osrf/homebrew-simulation) tap and have noticed a recent behavior change in test-bot. It used to be that an `_or_later` suffix could be appended to the macOS version describing the `sha256` data in a `bottle do` block, which would allow a bottle to be used with newer versions of macOS. At some point, the `_or_later` suffix was removed as any bottl

[2021-11-15 14:18] MikeMcQuaid commented on #705
@scpeters Thanks for the clear write-up!
@carlocab Could you have a look at this and give some thoughts? Thanks!

[2021-11-15 16:23] carlocab commented on #705
This behaviour grew out of a discussion from several places, but one place to look is here: #683

In Homebrew/core we don't want to bottle a formula using dependencies built on an earlier version of macOS to avoid subtle compatibility issues. We already required this informally when building bottles: Homebrew/homebrew-core#87708. However, it's too easy to accidentally dispatch a bottle job for a f

[2021-11-15 16:33] MikeMcQuaid commented on #705
@carlocab do you think this is logic we could or should either 1) limit to homebrew/core or 2) provide a flag to change behaviour?

[2021-11-15 16:50] carlocab commented on #705
A flag would be more useful, I think. We could add it if external tap maintainers want it, but I'm not under the impression that they do (yet -- I can easily be persuaded otherwise).

Thoughts, @scpeters?

[2021-11-16 19:53] scpeters commented on #705
thanks for the tip about `:all` bottles! I don't see an option for specifying this, but I looked at `dev-cmd/bottle.rb` and see that it will automatically declare a bottle as `:all` if the bottles are identical. I just ran `diffoscope` and the only differences I see are in the brew metadata. I'm guessing that I would need `--only-json-tab` if order for the bottles to match. I'll look into this fur

[2021-11-17 07:48] carlocab opened #712 "Annotations and ignore logic not working on Linux"
For some reason I haven't yet worked out, neither annotations or the ignoring of build/linkage/test failures for unbottled formulae isn't working on Linux.

As best I can tell, the Linux runner seems to exit with an error immediately upon encountering one around here:

https://github.com/Homebrew/homebrew-test-bot/blob/96edbe66a23e103a54187e671e97daea8e615281/lib/step.rb#L104-L107

The ignore logi

[2021-11-17 10:36] MikeMcQuaid commented on #712
No idea here. I wonder if it's something else about the environment rather than the OS i.e. the Linux runner/GitHub Actions runner has some environment variables set that are interfering?

[2021-11-17 10:42] MikeMcQuaid commented on #705
Yup 👍🏻

[2021-11-17 11:17] carlocab commented on #712
Yea, I'm pretty stumped as well. However, I think my hypothesis about what's going on is correct, judging from what's happening on the Linux runner in this PR: Homebrew/homebrew-core#89567

It has a whole bunch of formulae to test, but it tests `bison` first. The test fails and `test-bot` exits. What it should be doing is logging the failure and moving on to test other formulae.

[2021-11-17 11:19] carlocab commented on #712
CC @Homebrew/brew for ideas.

[2021-11-17 14:31] Bo98 commented on #712
This is your problem:

[2021-11-17 15:40] Bo98 commented on #712
This is because of https://github.com/Homebrew/homebrew-core/blob/master/.github/workflows/tests.yml#L182-L190. We would need to change `GITHUB_WORKSPACE` going into this.

I can fix this but I wonder if we can just make it use GitHub's container system somehow (where it'll work out of the box). @dawidd6 I assume you've tried that already and the answer is it doesn't work? Does setting `container`

[2021-11-17 15:59] carlocab commented on #712
I suspected that too, but IIRC I've seen that error on CI runs well before I started using `GitHub::Actions::Annotation`.

[2021-11-17 16:55] Bo98 commented on #712
I'll need to see an example run of this to tell. I've not seen that error until recently and `GITHUB_WORKSPACE` being set to a directory that won't exist in the Docker container makes sense as a cause.

[2021-11-17 17:14] dawidd6 commented on #712
Yep

[2021-11-17 18:21] Bo98 commented on #712
This works for me: https://github.com/Bo98/workflow-test/blob/main/.github/workflows/test.yml

[2021-11-17 19:33] dawidd6 commented on #712
Interesting. Looks like it was changed a year ago:
https://github.com/actions/runner/issues/265

So I guess we can drop a lot of code in our workflows now.

[2021-11-17 19:40] carlocab commented on #712
Here's an example: https://github.com/Homebrew/homebrew-core/runs/4120630533?check_suite_focus=true#step:7:33

The `ENOENT` seems to happen on an audit failure, which probably means that this is triggered by the annotations code.

On the other hand, it also didn't kill the `test-bot` run, unlike what's happening now.

[2021-11-17 20:20] ipatch commented on #705
not trying to hijack this issue/thread, but i noticed this same behavior is different. i've been working with the homebrew-freecad tap, and am finally getting around at attempting to bottle `freecad` itself. however when i attempted to build freecad yesterday evening. the CI/CD gha i've setup using _gha_ i noticed the below durning the CI run.

https://github.com/FreeCAD/homebrew-freecad/runs/4234

[2021-11-18 02:15] Bo98 commented on #705
In your case it's `python@3.9.6`, which raises a valid issue that we should probably not be skipping deps that don't have bottle blocks at all, since there are taps which don't provide bottles at all but still use test-bot.

[2021-11-18 05:32] carlocab commented on #705
Won't formulae with deps that don't have bottles at all will error out on a `test-bot` run in this step?

https://github.com/Homebrew/homebrew-test-bot/blob/8ed8d35ac24068354d6baa45c8d117fd2c0c3ff7/lib/tests/formulae.rb#L320-L322

I vaguely remember seeing complaints about no bottle being available when I was building formulae in my tap.

In any case, I've opened #717 to display the unbottled depe

[2021-11-18 05:44] Bo98 commented on #705
No, ot should not for non-core taps.

[2021-11-18 15:05] carlocab commented on #705
I've merged #717 which should display unbottled dependencies when we skip a formula from these. I think this behaviour is useful (I'd want it in my own tap, for instance), but I'm open to making this customisable with flags if there's demand for it, as mentioned above:

[2021-11-18 15:55] carlocab commented on #712
We'll want to remove

https://github.com/Homebrew/homebrew-test-bot/blob/7e3c529bd62f6bffd1297ebec51b915b208a6351/lib/step.rb#L79-L81

when this is sorted.

[2021-11-18 16:13] scpeters commented on #705
there's a line in `brew unbottled` that skips non-core formulae:

https://github.com/Homebrew/brew/blob/master/Library/Homebrew/dev-cmd/unbottled.rb#L126

I'll open a pull request to remove it, and we can discuss further there

[2021-11-18 16:30] scpeters commented on #705
https://github.com/Homebrew/brew/pull/12450

[2021-11-21 12:18] #712 closed

[2021-11-22 15:38] carlocab opened #727 "Split bottling and testing a formula into separate steps"
Currently, we build bottles and test these bottles all in one `test-bot` call. Most of the code for this call lives in [`lib/tests/formulae.rb`](https://github.com/Homebrew/homebrew-test-bot/blob/6a82b403363b623ec67b97b001d3bedf188fd684/lib/tests/formulae.rb#L239).

I suggest we split this up so that this can be done in separate steps in a GitHub workflow:
1. Build bottles, then upload them.
2. Do

[2021-11-22 15:39] carlocab commented on #727
CC @Homebrew/maintainers for thoughts, and in case someone else wants to pick this up. (Please feel free.)

[2021-11-22 16:26] MikeMcQuaid commented on #727
I strongly agree. Some previous splits:
https://github.com/Homebrew/homebrew-test-bot/pull/582
https://github.com/Homebrew/homebrew-test-bot/pull/635

Some other useful splits:
- run `brew audit --online` and `brew fetch` only on Linux (or at least: on Linux first)

I presume you mean "only on the Linux runner" here. I'm 👍🏻 either way but that would allow us to save some macOS build time.

Even on

[2021-11-24 14:34] XuehaiPan opened #729 "`git -C "${HOMEBREW_REPOSITORY}" clean` failed in `brew test-bot --only-cleanup-after`"
Related code:

https://github.com/Homebrew/homebrew-test-bot/blob/9b5f583cf6302e6ff3db61bd2ee5172881a47ee5/lib/test_cleanup.rb#L144-L158

GitHub Actions:

- [Homebrew/homebrew-core: tests (12-arm64) - Post Cleanup](https://github.com/Homebrew/homebrew-core/runs/4311217468?check_suite_focus=true)

[code]

- [Homebrew/homebrew-core: tests (11-arm64) - Post Cleanup](https://github.com/Homebrew/homebr

[2021-11-25 01:49] scpeters opened #731 "Option to skip building unbottled dependents from source"
I think behavior has changed recently so that unbottled dependents are now built from source instead of being skipped. Is there an option to skip building unbottled dependents to speed up test-bot runs?

[2021-11-25 02:40] carlocab commented on #731
Not currently, but adding one seems reasonable.

[2021-11-25 17:25] carlocab commented on #731
#736 should restore the old behaviour that unbottled dependents are built from source only when requested with `--build-dependents-from-source`.

[2021-11-25 17:38] #731 closed

[2021-11-25 22:39] danielnachun commented on #727
I am wondering if, as a starting point, we should make a `test-dependent` workflow which is given the names of the dependent and its dependency, the platform to test, and a pull request number from which to download the bottle for the dependency.  `test-bot` would then dispatch a job for each dependent on each platform and those jobs would just be added to the queue.

Given that we don't normally

[2021-11-26 12:52] MikeMcQuaid commented on #727
I like the idea of doing this 👍🏻

I think this is probably worth holding off until we have some ephemeral macOS runners.

[2021-11-29 19:37] scpeters commented on #731
thanks @carlocab!

[2021-12-23 00:14] #729 closed

[2022-01-31 22:54] ValentinTrinque opened #779 "Build bottles for arm64"
I am trying to find a way to build arm64 bottles on a tap, using this utility, but I couldn't find out how. I had a look to the homebrew-core repository to find out how it's doing it, but got lost.

I tried to keep it simple.

My formula is targeting a golang project, so I can cross-compile by setting the GOARCH env var. I assume the project is ccorrectly compiled for arm64, at this point. However

[2022-02-01 08:34] MikeMcQuaid commented on #779
I'm afraid you'll need to figure this out yourself or take it to Homebrew/discussions.

[2022-02-01 08:34] #779 closed

[2022-02-07 16:42] dpo opened #783 "error in tap CI: brew link m4"
This is a follow-up of: https://github.com/Homebrew/discussions/discussions/2927

Hi. I just set up the defaults yml scripts for CI with GitHub Actions to build bottles for a tap. I was able to update and build bottles for all formulae.

However, upon updating one of the formulae in a subsequent PR, CI fails with a `brew link m4` error that I'm not understanding:

https://github.com/coin-or-tools/

[2022-02-22 08:48] MikeMcQuaid commented on #611
@carlocab Is this still a problem?

[2022-02-22 08:55] MikeMcQuaid commented on #727
I think this would make a huge difference, particularly in cases like `boost`.

For example, we would use `git log -1 --pretty=format:%H Formula/boost.rb` as the cache key here (assuming `boost` changed in the PR) and if we've got a bottle that was already built on that commit hash for the `boost` formula: we install it from the bottle instead of building it from source again.

If we wanted the ca

[2022-02-22 09:05] carlocab commented on #611
It hasn't come up since, but I don't think it's been fixed. We can probably close this out since it's not a huge problem -- and we should get at least a warning for this with `brew linkage --test --strict`.

[2022-02-22 09:05] #611 closed

[2022-02-22 09:21] MikeMcQuaid commented on #611
Thanks @carlocab!

[2022-02-22 17:30] #783 closed

[2022-03-01 10:56] gromgit opened #791 "test-bot exiting on failure with success code"
NOTE: I'm using `brew test-bot` on the command line instead of with GitHub Actions, not sure if it makes a difference.

`brew test-bot` on Mojave clearly fails on `statik` (it even says **FAILED** in the output), yet it returns success:
[code]
The same `test-bot` command line on Intel and AS Monterey also fail to build `statik` (it's a Python `use_2to3` deprecation issue), but both print `IT FAILE

[2022-03-01 11:07] carlocab commented on #791
Does `statik` have a Mojave bottle? If it doesn't, then this is expected behaviour (but I've seen enough surprised posts about it to be open to tweaking this).

If it does, then that's a bug.

[2022-03-01 12:10] gromgit commented on #791
Nope, there's no Mojave bottle. Would be good to have this behave consistently across all platforms, but I can confirm that merely inserting a fake Mojave spec in the bottle block:
[code]
is sufficient to force `test-bot` to fail correctly.

[2022-03-07 10:18] MikeMcQuaid commented on #727
Good idea, I like it.

My suggestion/thought was that we use https://github.com/actions/cache for this.

The tricky bit will be deciding how/what to cache. I'd suggest we cache each bottle based on the SHA-1 of the formula file.

[2022-03-07 10:44] carlocab commented on #727
Ah, I had forgotten about `actions/cache`. That does sound look a good use for it.

I'll start work on implementing bottle installs in `test-bot`. Note: I don't intend (yet) to implement validation of the bottle to be installed. I think this will depend on the caching scheme we eventually settle on.

[2022-03-07 13:13] MikeMcQuaid commented on #727
Sounds good @carlocab 👍🏻

[2022-05-04 15:59] ipatch opened #801 "max number of concurrent jobs"
does test-bot support

https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs#defining-the-maximum-number-of-concurrent-jobs

im using three virtual machines for three self hosted runners for the homebrew-freecad tap, and i'd like to limit the workflow to one concurrent job at a time as all three of the runners are running on the same physical computer so does not make sense to

[2022-05-05 08:57] MikeMcQuaid commented on #801
Sorry, this is very specific to GitHub Actions rather than test-bot. I'm afraid I don't know the answer, GitHub support may be more help here.

[2022-05-05 08:57] #801 closed

[2022-05-28 21:12] cho-m opened #805 "Build failure due to deleted `etc` files from built dependencies"
I was debugging `ocaml` bump failure (Homebrew/homebrew-core#102436) and noticed that newly built `ocaml-findlib` was causing failures for subsequent formulae that depended on it due to missing `etc/findlib.conf`.

I think the issue is due to the `etc` files getting cleaned up and not being restored for dependents that are also being bottled:

https://github.com/Homebrew/homebrew-test-bot/blob/c2c